:root{
    --text-font-family: 'Roboto' ;
    --link-active-color: #2196F3;
    --heading-color: #ffffff;
    --section-color:#212121;
}
* {
    box-sizing: border-box;
  }

h1,h2,h3 {
    font-family: var(--text-font-family);
}

.hero-heading .service-button {
    color:var(--heading-color)
}

ul {
    list-style-type: none;
}
.main-navigation {
    color: #212121;
  
  }
  .hero-section{
width: 1600px;
height: 600px;
flex-shrink: 0;
background: #2F303A;
 }

.primary-page {
    font-family: var(--text-font-family);
    max-width: 1600px;
    margin: 0 auto;

}
.service-button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
}
.service-button{
    background-color: #2196F3;
    width: 200px;
height: 50px;
flex-shrink: 0;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.section-description{
    display: flex;
    align-items: center;
    justify-content:center
}
.global-title {
    width: 145px;
}
.global-title{
    margin-left: 215px;
color: #2196F3;
font-size: 26px;
font-family: Raleway;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.global-header {
    background-color:#FFF
    width: 1600px;
    height: 80px;
    flex-shrink: 0;
}

.hero-section {
    background-color:#2F303A ;
}
.hero-heading{
display: flex;
width: 696px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 44px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
line-height: 60px;
letter-spacing: 2.64px;
text-transform: uppercase;
}
.global-header{
display: flex;
    align-items: center;
    justify-content: center;
}

.main-navigation { 
    display: flex;
  flex-direction: column;
justify-content: space-around;

}

.main-navigation ul{
    display: flex;
    justify-content:space-around;
    align-items:baseline;
    color: #212121;
    gap: 50px;
}
.contacts{
display: flex;
justify-content: flex-end;
align-items:baseline;
}
.section-images {
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.section-team{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-team{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
.footer {
    width: 1600px;
height: 251px;
background: #2F303A;
}

