:root{
    --text-font-family: 'Roboto' ;
    --link-active-color: #2196F3;
    --heading-color: #ffffff;
    --section-color:#212121;
}
* {
    box-sizing: border-box;
  }

h1,h2,h3 {
    font-family: var(--text-font-family);
}

.hero-heading .service-button {
    color:var(--heading-color)
}

ul {
    list-style-type: none;
}
.main-navigation {
    color:var(--section-color);
  }
  .hero-section{
width: 1200px;
height: 600px;
flex-shrink: 0;
background: #2F303A;
 }

.primary-page {
    font-family: var(--text-font-family);
    max-width: 1200px;
    margin: 0 auto;

}
.service-button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
}
.service-button{
    background-color: #2196F3;
    width: 200px;
height: 50px;
flex-shrink: 0;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.section{
    display: flex;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  .main-navigation.mailto:hover
  .main-navigation.mailto:focus {
    color:var(--link-active-color);
  }

.main-navigtion .mailto .phone-number a,
.main-navigtion .mailto .phone-number a:visited

.main-navigtion .mailto a.active {
    color: var(--link-active-color);
}
.main-navigation ul{
    display: flex;
    justify-content: space-between;
}



.global-header {
    background-color:#FFF
}

.hero-section {
    background-color:#2F303A ;
}
.hero-heading{
    color: #FFF;
}

.main-navigtion { 
    display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.global-header{
    display: flex;
    justify-content: space-between
}


